<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<security-constraint>
	<!-- A list of URL patterns to constrain -->
		<web-resource-collection>
			<web-resource-name>protected pages</web-resource-name>
			<url-pattern>/protected/*</url-pattern>
		</web-resource-collection>

<!-- name the roles authorized to perform the constrained requests -->
		<auth-constraint>
			<role-name>customer</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
<!-- specify how data is protected when transported between a client and a server -->
<!--		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>-->
	</security-constraint>
<!-- 	configure how the user is authenticated; the realm name that should be used for this application;  -->
<!-- 	and the attributes that are needed by the form login mechanism -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>TestServer</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/error.xhtml</form-error-page>
		</form-login-config>
	</login-config>
</web-app>